body {
  height: 100%;

  margin: 0;

  font-family: 'Poppins', sans-serif;
}

.spacer {
  margin: 0;
  padding: 0;
  height: 4em;
}

/* navbar */

nav, .navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.logo {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Audiowide', monospace;
}

@media all and (max-device-width: 360px) {
  .logo {
    font-size: 16px;
  }
}

.logo img {
  height: 40px;
  margin: 5px;
}

footer {
  height: 60px;
  padding-top: 10px;

  background-color: #23718c;
  color: #cad1d4;
}

footer .footer-icon {
  height: 40px;
}

/* Carousel */

.carousel {
  overflow: hidden;
  height: 600px;
  line-height: 1.5em;
}

.carousel .item {
  height: 600px;
}

.carousel-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
